In [3]:
import pandas as pd
import numpy as np

In [12]:
df1=pd.read_csv("Instasports.csv")
df2=pd.read_csv("Prokick.csv", encoding='latin1')
df3=pd.read_csv("Amazon.csv", encoding='latin1')

In [14]:
df1.head()

,id,product_id,source_name,product_url,title,offer_price,mrp,brand,model,style,...,updated_on,num_mrp,suggested_brand_id,suggested_brand_name,is_duplicate,formatted_name,scraper_category,original_source,deleted_at,missing_at
0,718911,8354433302835,instaclubsports,https://instasport.club/products/li-ning-sg-go...,Li-Ning SG Gold (Speed 76) Badminton Feather S...,21099.0,28900.0,NaN,NaN,NaN,...,2024-05-11,NaN,NaN,NaN,False,NaN,sports,instasports,NaN,NaN
1,718914,8840057323827,instaclubsports,https://instasport.club/products/sg-sunny-tonn...,SG Sunny Tonny Xtreme Black - Grade 2 Worlds F...,35299.0,36999.0,NaN,NaN,NaN,...,2024-05-11,NaN,NaN,NaN,False,NaN,sports,instasports,NaN,NaN
2,718918,9140835844403,instaclubsports,https://instasport.club/products/one-science-c...,One Science Carnitine 3000mg - (Watermelon),1300.0,2100.0,NaN,NaN,NaN,...,2024-05-11,NaN,NaN,NaN,False,NaN,sports,instasports,NaN,NaN
3,718919,9140818444595,instaclubsports,https://instasport.club/products/one-science-c...,One Science Carnitine 3000mg - (Mango),1300.0,2100.0,NaN,NaN,NaN,...,2024-05-11,NaN,NaN,NaN,False,NaN,sports,instasports,NaN,NaN
4,718920,9140732100915,instaclubsports,https://instasport.club/products/one-science-c...,One Science Carnitine 3000mg - (Pineapple),1300.0,2100.0,NaN,NaN,NaN,...,2024-05-11,NaN,NaN,NaN,False,NaN,sports,instasports,NaN,NaN

In [28]:

for df in [df1, df2, df3]:
    df['brand'] = df['brand'].astype(str)
    df['formatted_name'] = df['formatted_name'].astype(str)

# Add source columns to each dataframe
df1['available_on_instaclubsports'] = True
df2['available_on_prokicksports'] = True
df3['available_on_amazon'] = True

# Try merging again
try:
    merged_df = df1.merge(df2, on=['brand', 'formatted_name'], how='outer', suffixes=('_insta', '_proki'))
    merged_df = merged_df.merge(df3, on=['brand', 'formatted_name'], how='outer', suffixes=('', '_amzn'))
except ValueError:
    # If merge still fails, use concat
    print("Merge failed. Using concat instead.")
    merged_df = pd.concat([df1, df2, df3], axis=0, ignore_index=True)

# Fill NaN values in availability columns
for col in ['available_on_instaclubsports', 'available_on_prokicksports', 'available_on_amazon']:
    if col not in merged_df.columns:
        merged_df[col] = False
    merged_df[col] = merged_df[col].fillna(False)

# Select relevant columns
columns_to_keep = ['brand', 'formatted_name', 'title', 'offer_price', 'mrp',
                   'available_on_instaclubsports', 'available_on_prokicksports', 'available_on_amazon']
final_df = merged_df[columns_to_keep]

# Clean up the dataframe
final_df = final_df.fillna('')

# Display the first few rows of the resulting dataframe
print(final_df.head())
print(final_df.shape)

  brand formatted_name title offer_price mrp  available_on_instaclubsports  \
0   nan            nan                                                True
1   nan            nan                                                True
2   nan            nan                                                True
3   nan            nan                                                True
4   nan            nan                                                True

   available_on_prokicksports  available_on_amazon
0                       False                False
1                       False                False
2                       False                False
3                       False                False
4                       False                False
(2454, 8)

In [30]:
final_df.head()

,brand,formatted_name,title,offer_price,mrp,available_on_instaclubsports,available_on_prokicksports,available_on_amazon
0,nan,nan,,,,True,False,False
1,nan,nan,,,,True,False,False
2,nan,nan,,,,True,False,False
3,nan,nan,,,,True,False,False
4,nan,nan,,,,True,False,False